doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon", type="image/x-icon", href="/public/favicon.ico")
        title Zoom Clone
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        h1 Welcome to Zoom Clone
        main
            div#welcome
                form
                    input(placeholder="Room name", required, type="text")
                    button Enter Room
                h4 Open Rooms:
                ul
            div#room
                h3
                ul
                form#name
                    input(placeholder="Your name", required, type="text")
                    button Send
                form#msg
                    input(placeholder="Your message", required, type="text")
                    button(onclick="handleSubmit(event)") Send
                div#message-box
                    h4 Messages:
                    ul
                        li Example message 1
                        li Example message 2
                        li Example message 3
                        li(id="received-message") Received message will be displayed here
        script(src="/public/js/app.js")